:root {
    --blue: #585CE1;
    --hoverBlue: #4a4ed8;
    --smooth-blue: #CFD5F2;
    --smooth-blue-hover: #c7cdf0;
    --smooth-light-blue: #E8EBFD;
  
    --smooth-red: #EB6262;
  
    --text-black: #202020;
    --text-dark-gray: #4E4E4E;
    --text-input-gray: #828A96;
    --text-white: rgb(252, 252, 252);
  
    --smooth-white-color: #F9F9F9;
    --smooth-border-color: #EAEAEA;
    --user-message-box-color: #F0F0F0;
    --user-message-text-color: #595959;
  
    --overlay-background: #4545453f;
  }
  
  [data-theme='dark'] {
    --blue: #717ee4;
    --hoverBlue: #2F469C;
    --smooth-blue: #1b1b1b;
    --smooth-blue-hover: #2636ac;
    --smooth-light-blue: #1f2eb5;
  
    --smooth-red: #B04141;
  
    --text-black: #E0E0E0;
    --text-dark-gray: #A5A5A5;
    --text-input-gray: #B0B0B0;
    --text-white: rgb(33, 33, 33);
  
    --smooth-white-color: #1A1A1A;
    --smooth-border-color: #3E3E3E;
    --user-message-box-color: #2C2C2C;
    --user-message-text-color: #D6D6D6;
  
    --overlay-background: #1f1f1f7f;
  }