:root {
  --generalBackgroundColor: #ffffff;
  --blue: #585CE1;
  --hoverBlue: #4a4ed8;
  --smooth-blue: #CFD5F2;
  --smooth-blue-hover: #c7cdf0;
  --smooth-light-blue: #E8EBFD;

  --mingle-red: #f94c4c;
  --smooth-red: #EB6262;
  --smooth-light-red: #fbe5e5;

  --text-black: #303030;
  --text-dark-gray: #4E4E4E;
  --text-input-gray: #828A96;
  --text-white: rgb(252, 252, 252);
  --ai-text-color: rgb(51, 51, 51);

  --smooth-white-color: #F9F9F9;
  --smooth-border-color: #EAEAEA;
  --user-message-box-color: #fcfcfcc0;

  --cardHover: #efefef;
  --user-message-text-color: #595959;
  --overlay-background: #4545453f;
}

[data-theme='dark'] {
  --generalBackgroundColor: #141414;
  --overlay-background: #1f1f1f7f;

  --smooth-blue: #181818;
  --smooth-blue-hover: #222430;
  --smooth-light-blue: #262832;


  --text-black: #f1f1f1;
  --text-dark-gray: #A5A5A5;
  --text-input-gray: #B0B0B0;
  --text-white: rgb(33, 33, 33);
  --ai-text-color: rgb(231, 231, 231);

  --smooth-white-color: #161616;
  --smooth-border-color: #1b1b1b;
  --user-message-box-color: #1c1c1c;
  --cardHover: #1c1c1c;
  --user-message-text-color: #D6D6D6;
  --smooth-light-red: #1b1b1b;
}