
@use 'sass:meta';

// ------------------ Media Mixin ------------------

$breakpoints: (
    'xs': 320px,
    'sm': 576px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1200px,
    'xxl': 1400px
);

@mixin screen($breakpoint) {
    $value: if(meta.type-of($breakpoint) == 'string', map-get($breakpoints, $breakpoint), $breakpoint); // type-of yerine meta.type-of kullanıldı

    @media (max-width: $value) {
        @content;
    }
}

//!   @include screen(500px) {
//!     font-size: 14px;
//!   }

@mixin screenHeight($breakpoint) {
    $value: if(meta.type-of($breakpoint) == 'string', map-get($breakpoints, $breakpoint), $breakpoint); // type-of yerine meta.type-of kullanıldı

    @media (max-height: $value) {
        @content;
    }
}
//!   @include screenHeight(500px) {
//!     font-size: 14px;
//!   }

// ------------------ Flex Mixin ------------------

@mixin flex-center($direction: row, $justify: center, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


//!  @include flex-center(column, space-between, flex-start);

// ------------------ Transition Mixin ------------------

@mixin transition($properties: all, $duration: 0.3s, $ease: ease, $delay: 0s) {
    transition: #{$properties} #{$duration} #{$ease} #{$delay};
}

//!  @include transition(all,1s, ease-out, 0.3s);

// ------------------ Animation Mixins ------------------

@mixin opacity-effect($duration: 1s,
    $ease: ease-in-out,
    $delay: 0s,
    $start-opacity: 0,
    $end-opacity: 1) {
    @keyframes simpleFade {
        0% {
            opacity: #{$start-opacity};
        }

        100% {
            opacity: #{$end-opacity};
        }
    }

    animation: simpleFade #{$duration} #{$ease} #{$delay};
}

//!  @include opacity-effect(1s, ease-out, 0.3s, 0.2, 0.8);


// ------------------ Button Mixins ------------------

@mixin button(
  $bg-color: gray,
  $text-color: #fff,
  $padding: 10px 20px,
  $margin: 0,
  $border: none,
  $border-radius: 4px,
  $font-size: 16px,
  $transition: all 0.3s ease-out,
  $cursor: pointer
) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  margin: $margin;
  border: $border;
  border-radius: $border-radius;
  font-size: $font-size;
  cursor: $cursor;
  transition: $transition;
}

// .special-button {
//     @include button(
//       $bg-color: blue,
//       $text-color: white,
//       $hover-bg: darken(blue, 15%),
//       $padding: 15px 20px,
//       $margin: 30px,
//       $border: 2px solid black,
//       $border-radius: 5px
//     );
//   }


@mixin CustomScroll {
    overflow: scroll;
    overflow-x: hidden;
  
    &::-webkit-scrollbar {
      width: 6px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg,  #585CE1, #585CE1);
      border-radius: 6px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }
  }