*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;

}

img {
  pointer-events: none;
  user-select: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus {
  outline: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

bu button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}


a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background: rgb(220, 220, 220);
  border: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #585CE1, #585CE1);
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgba(86, 86, 86, 0.074);
  border-radius: 6px;
}