@use "../../../shared/styles/main.scss" as *;

.message-bubble-box {
    margin: 15px 0px;

    .message-box {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        height: max-content;

        .image-box {

            img {
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }


        &.sender {
            justify-content: flex-end;
            align-items: center;

            .message-content {
                @include flex-center(column, center, center);
                order: 2;
                background: var(--blue);
                color: var(--text-white);
            }

            .message-hour {
                order: 1;

            }

        }

        .message-content {
            display: flex;
            min-width: 50px;
            max-width: 340px;
            padding: 9px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 14px;
            background: var(--user-message-box-color);
            color: var(--user-message-text-color);
            font-size: 14px;
            @include flex-center(column, center, flex-start);

            .user-info {
                width: 100%;
                @include flex-center(row, flex-start, center);
                padding: 0px 0px 2px 0px;

                p {
                    font-weight: bold;
                    color: var(--text-dark-gray);
                }

            }
            .image{
                max-height: 350px;
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .message-hour {
            color: #989898;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
        }
    }

    .status-box {
        display: flex;
        justify-content: flex-end;
        padding: 3px 5px;
        font-size: 17px;
        color: var(--text-input-gray);
    }
}