@use "../../shared/styles/main.scss" as *;

Header {
    @include flex-center(row, flex-start,center);
    width: 100%;
    height: 55px;
    padding: 8px 10px;
    background-color: var(--smooth-blue);
    gap: 10px;

    img{
        width: 120px;
    }
}