@use "../../../shared/styles/main.scss" as *;


//! ----- Dynamic Styles -----

.search-input-box {
    @include flex-center(row, flex-start, center);
    gap: 6px;
    width: 100%;
    height: 45px;
    padding: 0px 14px 0px 14px;
    background-color: var(--user-message-box-color);
    border-radius: 10px;

    .icon-box {
        width: 32px;
        font-size: 32px;
        color: #787878;
    }

    .search-input {
        width: 100%;
        color: var(--user-message-text-color);
        font-size: 13px;
        font-weight: 700;
        height: 100%;
    }
}

.create-buttons {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--text-white);
    font-size: 13px;
    font-weight: 700;
    margin: 16px 0px;
    @include transition();

    &:hover {
        background-color: var(--hoverBlue);

    }
}

.user-dashboard-card-box,
.group-dashboard-card-box {
    margin-top: 15px;
    @include flex-center(row, center, center);
    width: 100%;
    height: 75px;
    gap: 5px;
    cursor: pointer;
    @include transition();
    border-radius: 17px;


    &:first-child {
        margin-top: 0px;
    }

    &:hover {
        background-color: var(--user-message-box-color);
    }

    .image-box {
        width: max-content;
        position: relative;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }

        .status {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid var(--smooth-white-color);
            position: absolute;
            right: 2px;
            bottom: 2px;
            @include transition();

            &.online {
                background-color: #26D97A;
            }

            &.offline {
                background-color: #B2B2B2;
            }
        }
    }

    .user-name-and-sub-title,
    .grup-name-and-sub-title {
        @include flex-center(column, center);
        padding: 0px 5px;
        width: 125px;
        gap: 2px;

        .last-message-image {
            @include flex-center(row, center);
            gap: 5px;
            color: var(--blue);

            svg {
                font-size: 24px;
            }

            span {
                color: var(--blue);
            }
        }

        p {
            font-weight: 700;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: block;
        }

        span {
            font-size: 12px;
            font-weight: 700;
            color: var(--user-message-text-color);
            white-space: nowrap;
            /* Metni tek satırda tutar */
            overflow: hidden;
            /* Taşan metni gizler */
            text-overflow: ellipsis;
            /* Taşan metnin yerine "..." koyar */
            width: 100%;
            /* Div'in genişliği kadar uzatır */
            display: block;
        }
    }

    .status-informations-box {
        @include flex-center(column, center, center);
        gap: 4px;

        span {
            color: #A7A7A7;
            font-family: Montserrat;
            font-size: 12px;
            width: 75px;
            text-align: center
        }

        p {
            @include flex-center(row, center, center);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--blue);
            color: var(--text-white);
            font-size: 11px;
        }
    }

    .call-status-span {
        margin-top: 2px;

        .icon {
            font-size: 16px;
        }

    }
}


// Dashboard Lists Styles

.chat-list-box,
.archive-list-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    .user-list {
        .no-active-chats {
            @include flex-center(column, center, center);

            img {
                width: 250px;
            }

            p {
                font-size: 13.7px;
                color: var(--text-input-gray);
            }
        }
    }
}

.call-list-box,
.archive-list-box {
    .user-list {
        margin-top: 16px;
    }
}

.group-list-box {}

.user-list {
    scrollbar-width: none;
}