@use "../../../shared/styles/main.scss" as *;

.no-active-datas {
    @include flex-center(column, center, center);

    img {
        width: 250px;
    }

    p {
        font-size: 13.7px;
        color: var(--text-input-gray);
    }
}