@use "../../../shared/styles/main.scss" as *;

.message-input-bar {
    width: 100%;
    height: 100px;
    @include flex-center(row, center, center);

    @include screen(900px) {
        height: 100px;
    }

    .input-box {
        @include flex-center(row, space-between, center);
        height: 50px;
        border-radius: 30px;
        border: 3px solid var(--smooth-border-color);
        padding: 0px 4px;
        width: 95%;
        gap: 10px;

        @include screen(900px) {
            height: 55px;
        }

        .add-file-box {
            height: 100%;
            width: 50px;
            @include flex-center(row, center, center);

            @include screen(900px) {
                width: 81px;
            }

            .add-file-button {
                @include flex-center(row, center, center);
                width: 31px;
                height: 31px;
                font-size: 20px;
                background-color: var(--smooth-border-color);
                border-radius: 50%;
                color: var(--text-dark-gray);
                transition: all 0.3s;

                &:active {
                    transform: scale(0.6);
                    /* Tıklama sırasında küçültme */
                }

            }

            .file-menu {
                @include flex-center(column, center, center);
                background-color: var(--user-message-box-color);
                backdrop-filter: blur(10px);
                padding: 8px 7px;
                gap: 15px;
                z-index: 999;
                position: absolute;
                margin-bottom: 276px;
                border-radius: 12px;
                /* Animasyonun uygulanması */
                animation: slide-up 0.3s ease-out forwards;

                button {
                    @include flex-center(row, center, center);
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    font-size: 20px;
                    background: none;
                    transition: background-color 0.3s, transform 3s;
                    transition: all 0.3s;

                    &:hover {
                        scale: 1.5;
                    }


                    &:first-child {
                        color: rgb(8, 162, 131);
                        border: 2px solid rgb(8, 162, 131);

                        &:hover {
                            background-color: rgb(8, 162, 131);
                            color: white;

                            svg {
                                animation: shake-scale 2s infinite;
                            }
                        }
                    }

                    &:nth-child(2) {
                        color: var(--blue);
                        border: 2px solid var(--blue);

                        &:hover {
                            background-color: var(--blue);
                            color: white;

                            svg {
                                animation: shake-scale 2s infinite;
                            }
                        }
                    }

                    &:nth-child(3) {
                        color: var(--smooth-red);
                        border: 2px solid var(--smooth-red);

                        &:hover {
                            background-color: var(--smooth-red);
                            color: white;

                            svg {
                                animation: shake-scale 2s infinite;
                            }
                        }
                    }

                    &:last-child {
                        color: rgb(245, 164, 44);
                        border: 2px solid rgb(245, 164, 44);

                        &:hover {
                            background-color: rgb(245, 164, 44);
                            color: white;

                            svg {
                                animation: shake-scale 2s infinite;
                            }
                        }
                    }
                }
            }
        }

        input {
            height: 100%;
            width: 90%;
            font-size: 14px;
            color: var(--text-dark-gray);
        }

        .ai-emoji-send-buttons {
            @include flex-center(row, center, center);
            gap: 10px;
            width: 150px;
            height: 100%;
            position: relative;

            .ai-button {
                padding-left: 12px;
                width: 40px;
                height: 40px;
                font-size: 28px;
                color: var(--blue);
                background-color: transparent;
                @include transition();

                &:hover {
                    color: var(--hoverBlue);
                }
            }

            .emoji-picker {
                position: absolute;
                bottom: 75px;
                right: 92px;
                z-index: 1000;
                border: 4px solid var(--smooth-blue-hover);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 28px;
            }

            .add-emoji-button {
                width: 30px;
                height: 30px;
                font-size: 28px;
                background-color: transparent;
                color: var(--text-dark-gray);
            }

            .send-message-button {
                @include flex-center(row, center, center);
                width: 35px;
                height: 35px;
                background-color: var(--blue);
                border-radius: 50%;
                @include transition();
                padding-left: 2px;

                @include screen(900px) {
                    margin-right: 5px;
                }

                &:hover {
                    background-color: var(--hoverBlue);
                }
            }
        }
    }
}


/* Animasyon tanımı */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
        /* 30px aşağıda başlıyor */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Son pozisyona geliyor */
    }
}

@keyframes shake-scale {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.1) rotate(-15deg);
    }

    50% {
        transform: scale(1.1) rotate(15deg);
    }

    75% {
        transform: scale(1.1) rotate(-15deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}