@use "../../shared/styles/main.scss" as *;

.sidebar-container {
  @include flex-center(column, space-between, flex-start);
  width: 65px;
  height: 100%;
  position: absolute;
  padding: 8px 10px;
  background-color: var(--smooth-blue);
  transition: width 0.3s ease;
  z-index: 10;



  @include screen(900px) {
    @include flex-center(row, center, center);
    position: absolute;

    width: 100%;
    height: 80px;
    padding: 0;
    border-radius: 40px 40px 0px 0px;
    bottom: 0;

  }

  &.open {
    width: 170px;
    padding-right: 15px;

  }

  .nav-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    padding: 6px;
    border-radius: 12px;
    background-color: transparent;
    color: var(--blue);
    @include transition();
    width: max-content;
    min-width: 100%;


    @include screen(900px) {
      margin: 0;
      padding: 10px;
      width: auto;
      @include flex-center(row, center);
    }

    &:hover {
      background: var(--text-white);
    }

    &.open {
      justify-content: flex-start;
    }

    &.active {
      background: var(--text-white);
    }

    span {
      margin-left: 10px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 10px;
      color: var(--blue);
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #menu-btn {
    &:hover {
      background-color: transparent
    }
  }

  .top-box {
    @include flex-center(column, center, flex-start);
    gap: 25px;

    @include screen(900px) {
      @include flex-center(row, center, center);
      width: 100%;
      height: 100%
    }

    .navigation-buttons {
      @include flex-center(column, center, flex-start);
      gap: 18px;

      @include screen(900px) {
        @include flex-center(row, center, center);
        gap: 26px;
        margin: 0;
        padding: 0;
        width: 50px;
      }

    }
  }


  .bottom-box,
  #menu-btn {
    @include screen(900px) {
      display: none;
    }
  }
}