@use "../../shared/styles/main.scss" as *;

.home-general-box {
    @include flex-center(column, center, center);
    flex: 1;
    height: 100%;
    gap: 10px;


    .laptop-banner-box {
        width: 100%;
        height: 35%;
        @include flex-center(row, center, center);

        img {
            height: 100%;
        }
    }

    .informations-box {
        @include flex-center(column, center, center);
        gap: 22px;
        width: 100%;

        h2 {
            font-size: 30px;
            color: var(--text-black);
        }

        p {
            width: 500px;
            text-align: center;
            color: var(--text-dark-gray);
            font-weight: 500;
            font-size: 15px;
        }

        button {
            padding: 12px 30px;
            color: white;
            border-radius: 10px;
            font-size: 13px;
            background-color: var(--blue);
            @include transition();

            &:hover {
                background-color: var(--hoverBlue);
            }
        }
    }
}