// Data Loader
@use "../../styles/main.scss" as *;

.loading-container {
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    @include flex-center(column, center, center);

    img {
        @include screen(768px) {
            width: 200px;
        }
    }

    .progress-bar {
        margin-top: 20px;
        width: 230px;
        height: 5px;
        margin-left: 10px;
        background-color: #e0e0e0;
        border-radius: 50px;
        overflow: hidden;
        position: relative;

        @include screen(768px) {
            width: 200px;
        }

        .progress {
            width: 0;
            height: 100%;
            background: linear-gradient(90deg, #CFD5F2, #585CE1 50%);
            animation: progressAnimation 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
            border-radius: 50px;
        }
    }
}

// Animasyon
@keyframes progressAnimation {
    0% {
        width: 10%;
    }

    50% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}