@use './../shared/styles/main.scss' as *;

.layout-container {
    // background-color: var(--smooth-blue);
    height: 100vh;
    @include flex-center(column, center);

    .main-content {
        @include flex-center(row, flex-start);
        flex: 1;
        width: 100%;
        overflow: hidden;
        position: relative;
             
        .outlet-content{
            margin-left: 65px;
        }
       
    }
}